- ga_community_footer = "javascript: ga('send', {hitType: 'pageview',page: '/internal-links/community/footer-link'});"
- ga_help_footer = "javascript: ga('send', {hitType: 'pageview',page: '/internal-links/help/footer-link'});"
- ga_status_footer = "javascript: ga('send', {hitType: 'pageview',page: '/internal-links/status/footer-link'});"

- remixButton = "https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fremix-button.svg"

- community = "https://glitch.com/"
- editor = "https://glitch.com/edit/#!/project/about"
- remix = "https://glitch.com/edit/#!/remix/about/6d561a98-036e-47a6-b152-a2a66a73d13e"

footer(role="contentinfo")

  p
    a(href=remix)
      img(width="162" src=remixButton alt="Remix on Glitch")
  
  p
    a(href=editor) View Code
      //img(class="bird" width=35 height=29 src=bird)
      //span View Code
      
  hr
  
  br 

  div.leftLinks
    p
      a(href=community onclick=ga_community_footer) Home
    p
      a(href="https://glitch.com/about/" onclick=ga_about_footer) About
    p
      a(href="https://glitch.com/faq/" onclick=ga_help_footer) FAQ
    p
      a(href="https://medium.com/glitch") Blog
    p
      a(href="http://status.glitch.com/" onclick=ga_status_footer) System Status
    p
      a(href="http://support.glitch.com/latest" onclick=ga_blog_footer) Support Forum
    p
      a(href="https://glitch.com/legal/") Legal Stuff
  div.rightLinks
    p Glitch for:
    p
      a(href="https://glitch.com/forplatforms/" onclick=ga_partner_footer) Platforms
    p
      a(href="https://glitch.com/foropensource/" onclick=ga_oss_footer) Open Source     

.beta beta

script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js")
script(src="/about/cta.js")  
script(src="//fast.wistia.com/embed/medias/413ljrk4gi.jsonp" async)
script(src="//fast.wistia.com/assets/external/E-v1.js" async)
